// --------------------------- global CSS

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: $sans2;
}

img {
	max-width: 100%;
	display: block;
    margin: 0 auto;
    
}

.wrapper {
   	width: 100%;
    padding: 3px;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}


.active {
    background-color: #E8E8E8;
    border: 2px solid tomato;
    transition: background-color 0.35s ease-in;
    
}

@mixin t {
	transition: background-color 0.35s ease-in;
}