$num: 5;
nav {
	ul {
		width: 100%;
		margin: $m 0;
		padding: $m;
		li {
			list-style-type: none;	
			float: left;
				padding: $m;
				// border: 2px solid $w;
		}
		&.healthy {
			li {
				width: 50%;
				
			}
		}
		&.excitment {
			li {
				max-width: (100% - $num) / $num;
				margin-right: 1%;
				min-height: 10px;
			}
		}
		&.serving {
			input {
				width: 100%;
			}
		}
	}
}



.wrap {
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px;
}

img {
    max-width: 75px;
    display: block;
    margin: 0 auto;
}

button {
	background: $c;
	color: $w;
	border: none;
	width: 100%;
	padding: $m;
	margin: $m 0;
	&:hover {
		background: darken($c, 10);
		@include t;
	}
}