$num: 5;
nav {
	ul {
		margin: $m 0;
		padding: $m;
		width: 100%;
		background: $lg;

		h3 {
			font-size: 2em;
			padding-bottom: $m;
		}
		li {	
			float: left;
			padding: $m;
			list-style-type: none;
		}
		&.healthy {
			li {
				width: 50%;
				
			}
		}
		&.excitment {
			li {
				margin-right: 1%;
				min-height: 10px;
				max-width: (100% - $num) / $num;
			}
		}
		&.serving {
			input {
				width: 100%;
			}
		}
	}
}


header {
	
	background-color: $c;

	h1 {
		margin: 0;
		padding: $p 10%;
		color: $w;
		text-align: center;
		font-size: 8em;
		line-height: .75;
	}
	img {
		width: 100px;
	}
}


.wrap {
    margin: 10px;
    padding: 10px;
    border: 1px solid #eee;
}

section img {
    
    max-width: 75px;
}

button {
	margin: $m 0;
	padding: $m;
	width: 100%;
	border: none;
	background: $c;
	color: $w;
	&:hover {
		@include t;
		background: darken($c, 10);
	}
}