$sans: 'Open Sans', Arial, sans-serif;
$sans2: "Roboto", Georgia;

$lg: lighten(#a1a1a1, 29);
$g: #a1a1a1;
$dg: #333;

$w: #fff;


$c: #16a085;


$b: 2px solid #eee;
$tb: 2px solid tomato;


$p: 5%;
$m: 10px;

$fw-reg: 400;
$fw-bold:  600;