* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", Georgia; }

img {
  max-width: 100%;
  display: block;
  margin: 0 auto; }

.wrapper {
  width: 100%;
  padding: 3px; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

.active {
  background-color: #E8E8E8;
  border: 2px solid tomato;
  transition: background-color 0.35s ease-in; }

nav ul {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  background: #ebebeb; }

nav ul h3 {
  font-size: 2em;
  padding-bottom: 10px; }

nav ul li {
  float: left;
  padding: 10px;
  list-style-type: none; }

nav ul.healthy li {
  width: 50%; }

nav ul.excitment li {
  margin-right: 1%;
  min-height: 10px;
  max-width: 19%; }

nav ul.serving input {
  width: 100%; }

header {
  background-color: #16a085; }

header h1 {
  margin: 0;
  padding: 5% 10%;
  color: #fff;
  text-align: center;
  font-size: 8em;
  line-height: .75; }

header img {
  width: 100px; }

.wrap {
  margin: 10px;
  padding: 10px;
  border: 1px solid #eee; }

section img {
  max-width: 75px; }

button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: none;
  background: #16a085;
  color: #fff; }

button:hover {
  transition: background-color 0.35s ease-in;
  background: #107360; }
